$dark: #47443b;
$medium: #827f70;
$light: #c9c5aa;

$gradient: linear-gradient(180deg, $light 0%, $light 50%, $medium 50%, $medium 100%);

$borderSM: solid 3px $dark;
$borderSMM: solid 3px $medium;
$border2: double 10px $dark;